<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Nerea Naranjo Santamaría y Beatriz Vallecillo Martín. Disponible <a href="https://github.com/bvm29/quiz_2017">aquí</a>
</p>

<img id="imgCredits" src="/images/alumno1.jpg" />
<img id="imgCredits" src="/images/alumno2.jpg" />
